@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

body {
    padding: 0;
    margin: 0;
    height: 100%;
    box-sizing: border-box;
    background: rgb(5, 5, 8);
}

nav {
    background: none;
    height: 120px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 2;
    font-family: "Montserrat", sans-serif;
}

nav > div {
    width: 30%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.nav-portfolio, .nav-onas {
    font-size: 25px;
    color: white;
    position: relative;
    text-decoration: none;
}
  
.nav-portfolio::before, .nav-onas::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    border-radius: 4px;
    background: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    bottom: -10px;
    left: 20px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.nav-onas::before {
    left: 19px;
}

.nav-portfolio:hover::before, .nav-onas:hover::before {
    transform-origin: left;
    transform: scaleX(1.25);
    left: -18px;
}

.nav-onas:hover::before {
    transform: scaleX(1.4);
    left: -15px;
}

.nav-kontakt {
    width: 200px;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    margin-right: 100px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    text-decoration: none;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.nav-kontakt:hover {
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.nav-kontakt:focus {
    outline: none;
}

.nav-kontakt.color {
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    box-shadow: 0 3px 20px 0 rgba(65, 132, 234, 0.1);
}

.arrow {
    width: 100px;
    height: 100px;
    position: fixed;
    right: 30px;
    bottom: 20px;
    color: #04befe;
}


.arrow:hover img:first-child, .arrow img{
    display: none;
}

.arrow img:first-child, .arrow:hover img {
    display: flex;
}

main {
    padding: 0;
    margin: 0;
}

video {
    width: 100%;
    top: 0;
}

.logo-img {
    text-align: center;
    position: absolute;
    width: 400px;
    left: 40%;
    top: 300px;
    bottom: 90%;
}

.box2, .box3 {
    width: 100%;
    background-color: rgb(20, 30, 35);
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.box2 {
    background: url(images/bg-info-image.png);
}

.thumbnails, .banners, .logos {
    width: 100%;
    font-size: 80px;
    color: rgb(180, 180, 180);
    font-family: "Montserrat", sans-serif;
    transition: 0.1s;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    min-height: 500px;
}

.thumbnails {
    background-color: rgb(30, 30, 35);
}

.banners {
    background-color: rgb(40, 40, 45);
}

.logos {
    background-color: rgb(25, 25, 30);
}

.scroll {
    display: none;
}

.banners .scroll img, .thumbnails .scroll img {
    width: 800px;
    height: 450px;
}

.logos .scroll img {
    width: 400px;
    height: 400px;
}

.button-show {
    width: 200px;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.button-show:hover {
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.button-show:focus {
    outline: none;
}

.button-show.color {
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    box-shadow: 0 3px 20px 0 rgba(65, 132, 234, 0.1);
}

.box4 {
    height: 80vh;
    width: 100%;
    background: url(images/bg-kontakt-image.png);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
}

.invite {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    gap: 20px;
    border-radius: 30px;
    align-items: center;
    background: rgb(10,20,28);
    background: linear-gradient(354deg, rgba(10,12,20,1) 0%, rgba(12,20,35,1) 100%);
    width: 500px;
    height: 320px;
    color: white;
}

.invite > .nav-kontakt {
    margin: 0;
}

.invite > .nav-kontakt.color {
    background-image: linear-gradient(to right, rgba(60,100,240,1), rgba(40,50,200,1), rgba(60,100,246,1), rgba(40,50,200,1));
}

::-webkit-scrollbar{
    height: 12px;
    width: 20px;
    background: rgb(20, 20, 20);
}

::-webkit-scrollbar-thumb{
    background: rgb(10, 10, 10);
}

::-webkit-scrollbar:horizontal{
    background: rgb(20, 20, 25);
}

::-webkit-scrollbar-thumb:horizontal{
    background: rgb(10, 10, 12);
}

@media (max-width: 1300px) {
    .logo-img {
        width: 300px;
        top: 200px;
    }
}

@media (max-width: 1024px) {
    .logo-img {
        width: 250px;
        top: 200px;
    }
}

@media (max-width: 980px) {
    .logo-img {
        width: 200px;
        top: 200px;
    }
}
